@model IList<Blog.MVC.ViewModels.PostTeaserViewModel>

<div class="board">
    <div class="board__left">
        <div class="board__thumbnail" style="background: url('../images/red.png')"></div>
        <a href="@Url.RouteUrl("blog", new { slug = Model[0].Slug })">
            <h2 class="board__headline">
                @Model[0].Title
            </h2>
        </a>
        <div class="author-summary">
            <div class="author-summary__item">
                <img class="author-summary__thumbnail" src="images/avatar.jpg">
            </div>
            <div class="author-summary__item">
                <div class="author-summary__name">@Model[0].Author.FullName</div>
                <div class="author-summary__date">@Model[0].PublishedOnFormatted</div>
            </div>
            <div class="author-summary__item">
                <a class="follow-button" href="/">Follow</a>
            </div>
        </div>
    </div>
    <div class="board__right">
        <div class="right-top">
            <div class="item">
                <div class="pic" style="background: url('../images/zebatka.png')" )></div>
                <div class="content">
                    <a href="@Url.RouteUrl("blog", new { slug = Model[1].Slug })">
                        <h2 class="board__headline">
                            @Model[1].Title
                        </h2>
                    </a>
                    <div class="author-summary">
                        <div class="author-summary__item">
                            <img class="author-summary__thumbnail" src="images/avatar.jpg">
                        </div>
                        <div class="author-summary__item">
                            <div class="author-summary__name">@Model[1].Author.FullName</div>
                            <div class="author-summary__date">@Model[1].PublishedOnFormatted</div>
                        </div>
                        <div class="author-summary__item">
                            <a class="follow-button" href="/">Follow</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="pic" style="background: url('../images/koles.png')"></div>
                <div class="content">
                    <a href="@Url.RouteUrl("blog", new { slug = Model[2].Slug })">
                        <h2 class="board__headline">
                            @Model[2].Title
                        </h2>
                    </a>
                    <div class="author-summary">
                        <div class="author-summary__item">
                            <img class="author-summary__thumbnail" src="images/avatar.jpg">
                        </div>
                        <div class="author-summary__item">
                            <div class="author-summary__name">@Model[2].Author.FullName</div>
                            <div class="author-summary__date">@Model[2].PublishedOnFormatted</div>
                        </div>
                        <div class="author-summary__item">
                            <a class="follow-button" href="/">Follow</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="board-bottom">
                <div class="small-item">
                    <div class="sm-pic" style="background: url('../images/babka.png')"></div>
                    <div class="sm-content">
                        <a href="@Url.RouteUrl("blog", new { slug = Model[3].Slug })">
                            <h2 class="sm__headline">
                                @Model[3].Title
                            </h2>
                        </a>
                        <div class="sm-author">
                            Posted by
                            <a href="/">@Model[3].Author.FullName</a> on @Model[3].PublishedOnFormatted
                        </div>
                    </div>
                </div>
                <div class="small-item">
                    <div class="sm-pic" style="background: url('../images/green.png')"></div>
                    <div class="sm-content">
                        <a href="@Url.RouteUrl("blog", new { slug = Model[4].Slug })">
                            <h2 class="sm__headline">
                                @Model[4].Title
                            </h2>
                        </a>
                        <div class="sm-author">
                            Posted by
                            <a href="/">@Model[4].Author.FullName</a> on @Model[4].PublishedOnFormatted
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>