@model List<Blog.MVC.ViewModels.PostTeaserViewModel>;
@{
    int currentPage = (int)ViewData["CurrentPage"];
    int totalNumberOfPages = (int)ViewData["TotalNumberOfPages"];
}

<div class="container">
    <h1>Page: @ViewData["CurrentPage"] / @ViewData["TotalNumberOfPages"]</h1>
    <div class="row">
        <div class="col-12">
            <section class="page">
                <div class="search-box">
                    <h3 class="search-box__title">Search result</h3>
                    <div class="search-box__wrapper">
                        <input class="search-box__input" type="text" placeholder="What would you like to find?" />
                        <button class="search-box__button">Search</button>
                    </div>
                </div>

                @foreach (var post in Model)
                {
                    <section class="summary__item">
                        <a href="/"></a>
                        <h3 class="summary__date">03<br />2018</h3>
                        <div class="summary__thumbnail">
                            <img src="~/images/pic2_thumbnail.jpg" />
                        </div>
                        <a href="@Url.RouteUrl("blog", new { slug = post.Slug })" style="text-decoration: none;">
                            <h2 class="summary__headline">@post.Title</h2>
                        </a>
                        <div class="author-summary">
                            <div class="author-summary__item">
                                <img class="author-summary__thumbnail" src="~/images/avatar.jpg" />
                            </div>
                            <div class="author-summary__item">
                                <div class="author-summary__name">@post.Author.FirstName @post.Author.LastName</div>
                                <div class="author-summary__date">@post.PublishedOnFormatted</div>
                            </div>
                            <div class="author-summary__item">
                                <a class="follow-button" href="/">Follow</a>
                            </div>
                        </div>
                    </section>
                }

                @if (currentPage > 1)
                {
                    <a href="@Url.RouteUrl("blog-list-all-posts", new { page = currentPage - 1 })">Previous</a>
                }
                @if (currentPage < totalNumberOfPages)
                {
                    <a href="@Url.RouteUrl("blog-list-all-posts", new { page = currentPage + 1 })">Next</a>
                }
        </div>
    </div>
</div>